<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="min-width:90%;background-color: #1ABC9C">
          <div class="card-block">
            <h4 class="card-title text-center" style="color: white">Images</h4>
            <div style="overflow-y:auto; overflow-x: auto">
              <table fixed-header >
                <tr>
                  <th style="color: white">Name | Date</th>
                  <th style="color: white">View Image</th>                 
                  <th style="color: white">Remove</th>
                </tr>

                <tr *ngFor="let image of imageData | async | paginate: { itemsPerPage: 5, currentPage: p } ">
                  <td>{{image.imgName}}</td>
                  <td><img [src]="image.imgUrl" style="width: 100%; height: 50%;"></td>
                  <td>
                    <span>
                    <button   (click)="RemoveImage(image.id)" mat-raised-button color="warn"><i class="fas fa-trash-alt"></i> Remove</button>
                    </span>
                  </td>
                </tr>
               
              </table>
              <br>
              <pagination-controls style="text-align: center" (pageChange)="p = $event"></pagination-controls>
            </div>

          </div>
        </div>
      </div>
    
   
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="min-width:90%;background-color: #1ABC9C">
          <div class="card-block">
            <h4 class="card-title text-center" style="color: white">Videos</h4>
            <div style="overflow-x:auto;">
              <table>
                <tr>
                  <th style="color: white">Name</th>
                  <th style="color: white">Video URL</th>
                                
                  <th style="color: white">Remove</th>
                </tr>

                <tr>
                  <td>Jill</td>
                  <td>Student</td>
                  
                 
                  <td>
                    <span>
                    <button  mat-raised-button color="warn"><i class="fas fa-trash-alt"></i> Remove</button>
                    </span>
                  </td>
                </tr>

                
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
