<span>Profile</span>
<div class="container">
    <div class="row">
       
        <div class="col-md-8 col-sm-6" >
            <div class="card" style="min-width:100%;background-color: #1ABC9C">
                <div class="card-block" >
                
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="form-group row">
                            <img src="//placehold.it/150" class="col-lg-4 col-form-label form-control-label"  alt="avatar">
                            
                            <label class="col-lg-9">
                                <input type="file" id="file" class="custom-file-input">
                                <h4><span style="float:right"><b>Choose file</b></span></h4>
                            </label>
                            </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Name</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="Jane">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="email" value="email@gmail.com">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Role</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="url" value="">
                            </div>
                        </div>
                        
                        
                        
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Username</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="text" value="janeuser">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" value="11111122333">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel"> &nbsp;
                                <input type="button" class="btn btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            
        </div>
        
            </div>
        </div>
        <div>
            
        </div>
    </div>
</div>